<%- include('partials/header.ejs'); %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<a href="/register" class="btn">Create an account</a>


<a href="/posts" class="btn">See All Posts</a>

<%- include('partials/footer.ejs'); %>