<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/ticketes">Ticketes</a></li>
        <li><a href="/stats">Stats</a></li>
        <li><a href="/example">Example</a></li>
    </ul>
</nav>